{{>header}}
<div class="container pt-5">
    <div class="row">
        <form class="form-inline   m-auto">
            <input class="form-control" placeholder="location" type="text">
            <button type="submit" class="btn btn-primary btn-dark">search</button>
        </form>
    </div>
    <div class="row mt-5">
        <div class="media m-auto">
            <img id="weatherIcon" class="align-self-start mr-3">
            <div class="media-body">
                <h5 id="messageOne" class="mt-0"></h5>
                <p id="messageTwo"></p>
            </div>
        </div>
    </div>
</div>



{{>footer}}


